<a href="https://colab.research.google.com/github/IqbalPratama17/Machine-Learning/blob/Python/Tugas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import library
import numpy as np
import pandas as pd

In [2]:
# Lakukan pemanggilan file
path_   ="/content/drive/My Drive/Machine Learning/dataset/Data Sales.csv"
dataset = pd.read_csv(path_)
dataset

   Costumer number     Costumer name        2016  ... Day  Year Active
0          10002.0  Quest Industries  $125000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15000.00  ...   2  2014      N

[5 rows x 10 columns]

In [3]:
# Selanjutnya kita lakukan perintah dengan tanda ‘+’
# Hasilnya bukan menjumlahkan tetapi menjadi menggabungkan data 2016 dan 2017
dataset['2016'] + dataset['2017']

0     $125000.00$162500.00
1    $920000.00$1012000.00
2       $50000.00$62500.00
3     $350000.00$490000.00
4       $15000.00$12750.00
dtype: object

In [4]:
# Cek tipe data dari masing-masing fitur
dataset.dtypes

Costumer number    float64
Costumer name       object
2016                object
2017                object
Percent growth      object
Jan units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [5]:
# Tampilkan informasi terkait tipe data dari tiap-tiap fitur
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Costumer number  5 non-null      float64
 1   Costumer name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent growth   5 non-null      object
 5   Jan units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [6]:
# Melakukan konversi data untuk fitur customer Number dari float64 menjadi int
dataset["Costumer number"] = dataset['Costumer number'].astype('int')
dataset.dtypes

Costumer number     int64
Costumer name      object
2016               object
2017               object
Percent growth     object
Jan units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [7]:
#  Konversi tipe data 2016 dari object menjadi float
#  Hasilnya menunjukkan adanya error atau kesalahan
dataset['2016'].astype('float')

ValueError: ignored

In [8]:
# Begitu juga untuk tipe data dari Jan Unit.
dataset['Jan units'].astype('int')

ValueError: ignored

In [9]:
# Untuk tipe data Active terlihat isinya adalah ‘Y’ dan ‘N’ artinya tipe data yang cocok adalah boolean.
# Lakukan konversi dengan perintah astype(‘bool’)
dataset['Active'].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool

In [10]:
# Menghilangkan simbol ‘$’ di fitur 2016 dan 2017.
def convert_currency(val):
  new_val = val.replace(',','').replace('$', '')
  return float(new_val)

In [11]:
# Lakukan pemanggilan fungsi convert_currency 
dataset['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [12]:
# Set kolom 2016 untuk menjalankan fungsi tsb dan lihat hasilnya
dataset['2016']=dataset['2016'].apply(convert_currency)

In [13]:
dataset['2016']

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [14]:
# Menghilangkan simbol ‘$’ di fitur 2016 dan 2017.
def convert_currency(val):
  new_val = val.replace(',','').replace('$', '')
  return float(new_val)

In [15]:
# Lakukan pemanggilan fungsi convert_currency 
dataset['2017'].apply(convert_currency)

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [16]:
# Set kolom 2017 untuk menjalankan fungsi tsb dan lihat hasilnya
dataset['2017']=dataset['2017'].apply(convert_currency)

In [17]:
dataset['2017']

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [18]:
# Mengkonversikan nilai persen buat suatu fungsi untuk mengkonversi bentuk persentase dari dataset.
def convert_percent(val):
  new_val = val.replace('%', '')
  return float(new_val) / 100

In [19]:
# Jalankan fungsi tersebut dan cek hasilnya.
# Fungsi tersebut akan menghilangkan simbol “%” dari dataset, kemudian membagi nilainya dengan angka 100.
dataset['Percent growth'].apply(convert_percent)

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent growth, dtype: float64

In [20]:
# Konversi tipe data boolean
# Untuk mengkonversi kolom Active yang sebelumnya gagal kita konversikan ke dalam tipe data boolean 
# akan kita gunakan np.where().
dataset["Active"] = np.where(dataset["Active"] == "Y", True, False)

In [21]:
dataset

   Costumer number     Costumer name      2016  ...  Day  Year Active
0            10002  Quest Industries  125000.0  ...   10  2015   True
1           552278    Smith Plumbing  920000.0  ...   15  2014   True
2            23477   ACME Industrial   50000.0  ...   29  2016   True
3            24900        Brekke LTD  350000.0  ...   27  2015   True
4           651029         Harbor Co   15000.0  ...    2  2014  False

[5 rows x 10 columns]

In [22]:
# Fungsi-fungsi bantuan pada Pandas helper
# 1. Fungsi pd.numeric, digunakan untuk mengkonversikan isi dataset menjadi numerik.
pd.to_numeric(dataset['Jan units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan units, dtype: float64

In [23]:
# Fungsi pd.to_numeric juga memiliki parameter fillna(x) dengan nilai x sesuai dengan yang diinginkan
pd.to_numeric(dataset['Jan units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan units, dtype: float64

In [24]:
# 2. Fungsi selanjutnya adalah pd.to_datetime yang akan mengkonversikan data dalam format tanggal atau jam.
pd.to_datetime(dataset[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [25]:
# cek hasilnya
# Fungsi pd.to_datetime  dan pd.to_numeric pada pandas
dataset["Start_Date"] = pd.to_datetime(dataset[['Month', 'Day', 'Year']])
dataset["Jan units"] = pd.to_numeric(dataset['Jan units'], errors='coerce').fillna(0)

In [26]:
# Penggabungan semua perintah diatas dalam satu aksi perintah
dataset_2 = pd.read_csv(path_,
                        dtype={'Costumer number': 'int'},
                        converters={'2016': convert_currency,
                                    '2017': convert_currency,
                                    'Percent growth': convert_percent,
                                    'Jan units': lambda x: pd.to_numeric(x, errors='coerce'),
                                    'Active': lambda x: np.where(x == "Y", True, False)
                                    })
dataset_2.dtypes

Costumer number      int64
Costumer name       object
2016               float64
2017               float64
Percent growth     float64
Jan units          float64
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object